<section class="hero-unit hero-unit--large container" data-hero-unit="large">
  <div class="container-inner hero-unit__content" data-search-box>
    <div class="hero-unit__title text-center">
       {{dc 'searchbar_title'}}
    </div>
    {{search class='search-box search-box--hero-unit' instant=true}}
  </div>
  <img class="hero_bg" src="{{asset 'woorank-hc-wave-blue.svg'}}"/>
</section>

<div class="custom-blocks container" id="custom-blocks">
  <div class="container-inner">
    <div class="row clearfix" >
      {{#each categories}}
        {{#if ../has_multiple_categories}}
          {{#isnt id 200487082}}
            {{#isnt id 200468061}}
              <div class="column column--xs-12 column--sm-6 column--md-4 custom-block">
                <a class="custom-block__link" href="{{url}}">
                  <div class="custom-block__icon">
                    {{#is id 360003355237}}
                    <img src="{{asset 'woorank-hc-starting-your-project.svg'}}" />
                    {{/is}}
                    {{#is id 360003357778}}
                    	<img src="{{asset 'woorank-hc-sales-tools-and-automation.svg'}}" />
                    {{/is}}
                    {{#is id 360003357838}}
                    	<img src="{{asset 'woorank-hc-video-tutorials.svg'}}" />
                    {{/is}}
                    {{#is id 360003355297}}
                    	<img src="{{asset 'woorank-hc-trouble-shooting.svg'}}" />
                    {{/is}}
                    {{#is id 200487082}}
                    	<img src="{{asset 'woorank-hc-my-account.svg'}}" />
                    {{/is}}
                    {{#is id 360002434178}}
                    	<img src="{{asset 'woorank-hc-assistant.svg'}}" />
                    {{/is}}
                    {{#is id 360003357878}}
                    	<img src="{{asset 'woorank-hc-product-updates.svg'}}" />
                    {{/is}}
                    {{#is id 360000003729}}
                    	<img src="{{asset 'woorank-hc-experts.svg'}}" />
                    {{/is}}
                    {{#is id 360003357898}}
                    	<img src="{{asset 'woorank-hc-helpful-content.svg'}}" />
                    {{/is}}
                  </div>
                  <h3 class="custom-block__title">
                    {{name}}
                  </h3>
                  {{#if description}}
                    <p class="custom-block__desc">
                      {{description}}
                    </p>
                  {{/if}}
                  <p class="custom-block__buttons">
                    <span class="btn btn--primary">{{t 'show_all_articles'}}</span>
                  </p>
                </a>
              </div>
            {{/isnt}}
          {{/isnt}}
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>

<div class="container">
  <div class="container-inner">
    {{#if promoted_articles}}
      <section class="promoted-articles" id="promoted-articles">
        <h2 class="promoted-articles__title"><span class="fa fa-star promoted-articles__icon"></span> {{t 'promoted_articles'}}</h2>
        <ul class="promoted-articles__articles">
          {{#each promoted_articles}}
            <li class="promoted-articles__item">
              <a class="promoted-articles__link" href="{{url}}">{{title}}</a>
            </li>
          {{/each}}
        </ul>
      </section>
    {{/if}}
  </div>
</div>
